@media only screen and (min-width: 37.5em) {
    
    header{
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: auto;
    }
    .logo-picture{
        grid-column: 1/2;
        grid-row: 1/2;
    }    
    .name{
        grid-column: 2/3;
        grid-row: 1/2;
    }   
    .social{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .navigation li{
        display: inline;
    }
    .navigation a:hover {
        color: rgb(47, 87, 50);
        background-color: rgb(250, 244, 244);
        padding: 8px;
    }
    .navigation li:first-child {
        display: none;
    }
    nav ul a{
        color: rgb(249, 249, 250);
        margin: 2px;
    }
    .navigation a{
        display: inline;
    }

    /*-------------------------------------About Us--------------------------------------*/


}